---
const homeHref = "../";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="refresh" content={`0; url=${homeHref}`} />
    <link rel="canonical" href={homeHref} />
    <title>ForkWatch</title>
  </head>
  <body>
    <main>
      <p><a href={homeHref}>Continue to ForkWatch</a></p>
    </main>
  </body>
</html>
